{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://systemoutprintln.com.br/biottech-back/api",
            "description": "Api de produção"
        },
        {
            "url": "http://localhost/biottech-back/api",
            "description": "Api de produção"
        }
    ],
    "info": {
        "description": "This is a simple API",
        "version": "1.0.0",
        "title": "API Biotério",
        "contact": {
            "email": "you@your-company.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "tags": [
        {
            "name": "Users",
            "description": "Operações relacionadas ao Usuário"
        },
        {
            "name": "Pedido",
            "description": "Operações relacionadas ao Pedido"
        },
        {
            "name": "Linhagem",
            "description": "Operações relacionadas a Linhagem"
        },
        {
            "name": "Pesquisador",
            "description": "Operações relacionadas ao Pesquisador"
        }
    ],
    "paths": {
        "/users/login.json": {
            "post": {
                "tags": ["Users"],
                "summary": "Login do Usuário",
                "operationId": "loginUser",
                "description": "Rota responsável pelo login do Usuário",
                "responses": {
                    "200": {
                        "description": "Login realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credencias do login estão incorretas"
                    }
                },
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": ["username", "password"],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "fabio@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456789"
                                    }
                                }
                            }
                        }
                    },
                    "description": "Login"
                }
            }
        },
        "/users/save.json": {
            "post": {
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Cadastro do usuário",
                "operationId": "cadasterUser",
                "description": "Rota responsável pelo cadastro do Usuário",
                "responses": {
                    "201": {
                        "description": "Usuário cadastrado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "fabio"
                                        },
                                        "username": {
                                            "type": "string",
                                            "example": "fabio@gmail.com"
                                        },
                                        "password": {
                                            "type": "string",
                                            "example": "123456789"
                                        },
                                        "type": {
                                            "type": "integer",
                                            "example": 0
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["name", "username", "password", "type"],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "fabio"
                                    },
                                    "username": {
                                        "type": "string",
                                        "example": "fabio@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "type": {
                                        "type": "integer",
                                        "example": 0
                                    }
                                }
                            }
                        }
                    },
                    "description": "User"
                }
            }
        },
        "/users/getUser.json": {
            "get": {
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar usuário por seu ID",
                "operationId": "getUser",
                "description": "Rota responsável por buscar usuário por seu ID",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "passar um ID para a busca do usuário",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "fabio"
                                        },
                                        "username": {
                                            "type": "string",
                                            "example": "fabio@gmail.com"
                                        },
                                        "type": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "avatar": {
                                            "type": "string",
                                            "example": "avatar2"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/users/getAllUsers.json": {
            "get": {
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar usuários ativos ou inátivos ",
                "operationId": "getAllUsers",
                "description": "Rota responsável por buscar usuários ativos ou inativos, a busca recebe todos os usuários menos o usuário logado",
                "parameters": [
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar os usuários ativos e active=false para buscar os usuários inativos",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "fabio"
                                            },
                                            "username": {
                                                "type": "string",
                                                "example": "fabio@gmail.com"
                                            },
                                            "type": {
                                                "type": "integer",
                                                "example": 0
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/users/newPassword.json": {
            "get": {
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Gera uma nova senha aleatória",
                "operationId": "newPassword",
                "description": "Rota responsável por gerar uma nova senha aleatória para qualquer usuário",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "passar um ID do usuário que necessita de uma nova senha aleatória",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "nova senha foi gerada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "example": "ZWe1ho"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/users/update.json": {
            "put": {
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Editar usuário",
                "operationId": "updateUser",
                "description": "Rota responsável pela edição do usuário",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "passar um ID do usuário que deseja fazer o update dos dados",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuário editado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "Jorge"
                                        },
                                        "username": {
                                            "type": "string",
                                            "example": "jorge@gmail.com"
                                        },
                                        "type": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "avatar": {
                                            "type": "string",
                                            "example": "avatar2"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Jorge"
                                    },
                                    "type": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                }
                            }
                        }
                    },
                    "description": "User"
                }
            }
        },
        "/users/activeAndDisable.json": {
            "put": {
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Ativar ou Desativar usuário",
                "operationId": "activeAndDisableUser",
                "description": "Rota responsável ativação e desativação dos usuários",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "passar um ID do usuário que ativar ou desativar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    },
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para ativar o usuário e active=false para desativar o usuário",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuário ativado ou desativado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "Jorge"
                                        },
                                        "username": {
                                            "type": "string",
                                            "example": "jorge@gmail.com"
                                        },
                                        "type": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "active": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "avatar": {
                                            "type": "string",
                                            "example": "avatar2"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/users/updatePassword": {
            "put": {
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Atualizar senha do usuário logado",
                "operationId": "updatePasswordUser",
                "description": "Rota responsável por atualizar senha do usuário logado",
                "responses": {
                    "200": {
                        "description": "Senha do usuário atualizada com sucesso"
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                }
                            }
                        }
                    },
                    "description": "User"
                }
            }
        },
        "/users/updateAvatar.json": {
            "put": {
                "tags": ["Users"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Editar avatar do usuário",
                "operationId": "updateAvatarUser",
                "description": "Rota responsável pela edição do avatar do usuário",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "passar um ID do usuário que deseja fazer o update do avatar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Avatar editado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "Jorge"
                                        },
                                        "username": {
                                            "type": "string",
                                            "example": "jorge@gmail.com"
                                        },
                                        "type": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "avatar": {
                                            "type": "string",
                                            "example": "avatar2"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "avatar": {
                                        "type": "string",
                                        "example": "avatar2"
                                    }
                                }
                            }
                        }
                    },
                    "description": "User"
                }
            }
        },
        "/pedido/addNivelProjeto.json": {
            "post": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Cadastro do Nível do projeto",
                "operationId": "addNivelProjeto",
                "description": "Rota responsável pelo Cadastro do Nível do projeto",
                "responses": {
                    "201": {
                        "description": "Nível do projeto cadastrado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "nome_nivel_projeto": {
                                            "type": "string",
                                            "example": "Trabalho de conclusão de curso"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "example": "10"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["nome_nivel_projeto"],
                                "properties": {
                                    "nome_nivel_projeto": {
                                        "type": "string",
                                        "example": "Trabalho de conclusão de curso"
                                    }
                                }
                            }
                        }
                    },
                    "description": "NivelProjeto"
                }
            }
        },
        "/pedido/getNivelProjetos.json": {
            "get": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar todos os Níveis do projeto",
                "operationId": "getNivelProjetos",
                "description": "Rota responsável por buscar todos os Níveis do projeto",
                "parameters": [
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar os Níveis do projeto ativos e active=false para buscar os Níveis do projeto inativos",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "nome_nivel_projeto": {
                                                "type": "string",
                                                "example": "Doutorado"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/pedido/addLinhaPesquisa.json": {
            "post": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Cadastro da Linha de Pesquisa",
                "operationId": "addLinhaPesquisa",
                "description": "Rota responsável pelo Cadastro da Linha de Pesquisa",
                "responses": {
                    "201": {
                        "description": "Linha de Pesquisa cadastrada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "nome_linha_pesquisa": {
                                            "type": "string",
                                            "example": "Ortodontia"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "example": "76"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["nome_linha_pesquisa"],
                                "properties": {
                                    "nome_linha_pesquisa": {
                                        "type": "string",
                                        "example": "Ortodontia"
                                    }
                                }
                            }
                        }
                    },
                    "description": "LinhaPesquisa"
                }
            }
        },
        "/pedido/getLinhaPesquisas.json": {
            "get": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar todas as Linhas de Pesquisa",
                "operationId": "getLinhaPesquisas",
                "description": "Rota responsável por buscar todas as Linhas de Pesquisa",
                "parameters": [
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar as Linhas de Pesquisa ativos e active=false para buscar as Linhas de Pesquisa inativos",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "nome_nivel_projeto": {
                                                "type": "string",
                                                "example": "Doutorado"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/pedido/addLaboratorio.json": {
            "post": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Cadastro do Laboratório",
                "operationId": "addLaboratorio",
                "description": "Rota responsável pelo Cadastro do Laboratório",
                "responses": {
                    "201": {
                        "description": "Laboratório cadastrado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "nome_laboratorio": {
                                            "type": "string",
                                            "example": "Biomol"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "example": "20"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["nome_laboratorio"],
                                "properties": {
                                    "nome_laboratorio": {
                                        "type": "string",
                                        "example": "Biomol"
                                    }
                                }
                            }
                        }
                    },
                    "description": "Laboratório"
                }
            }
        },
        "/pedido/getLaboratorios.json": {
            "get": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar todos os Laboratórios",
                "operationId": "getLaboratorios",
                "description": "Rota responsável por buscar todos os Laboratórios",
                "parameters": [
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar os Laboratórios ativos e active=false para buscar os Laboratórios inativos",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "nome_laboratorio": {
                                                "type": "string",
                                                "example": "Biomol"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/pedido/addFinalidade.json": {
            "post": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Cadastro da Finalidade",
                "operationId": "addFinalidade",
                "description": "Rota responsável pelo Cadastro da Finalidade",
                "responses": {
                    "201": {
                        "description": "Finalidade cadastrada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "nome_finalidade": {
                                            "type": "string",
                                            "example": "Sangria"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "example": "15"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["nome_finalidade"],
                                "properties": {
                                    "nome_finalidade": {
                                        "type": "string",
                                        "example": "Sangria"
                                    }
                                }
                            }
                        }
                    },
                    "description": "Finalidade"
                }
            }
        },
        "/pedido/getFinalidades.json": {
            "get": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar todas as Finalidades",
                "operationId": "getFinalidades",
                "description": "Rota responsável por buscar todas as Finalidades",
                "parameters": [
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar as Finalidades ativos e active=false para buscar as Finalidades inativos",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "nome_finalidade": {
                                                "type": "string",
                                                "example": "Sangria"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/pedido/addProjeto.json": {
            "post": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Cadastro do Projeto",
                "operationId": "addProjeto",
                "description": "Rota responsável pelo Cadastro do Projeto",
                "responses": {
                    "201": {
                        "description": "Projeto cadastrado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "nome_projeto": {
                                            "type": "string",
                                            "example": "Pesquisa"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "example": "15"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["nome_projeto"],
                                "properties": {
                                    "nome_projeto": {
                                        "type": "string",
                                        "example": "Pesquisa"
                                    }
                                }
                            }
                        }
                    },
                    "description": "Projeto"
                }
            }
        },
        "/pedido/getProjetos.json": {
            "get": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar todos os Projetos",
                "operationId": "getProjetos",
                "description": "Rota responsável por buscar todos os Projetos",
                "parameters": [
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar os Projetos ativos e active=false para buscar os Projetos inativos",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "nome_projeto": {
                                                "type": "string",
                                                "example": "Pesquisa"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/pedido/addEspecie.json": {
            "post": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Cadastro da Espécie",
                "operationId": "addEspecie",
                "description": "Rota responsável pelo Cadastro da Espécie",
                "responses": {
                    "201": {
                        "description": "Espécie cadastrada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "nome_especie": {
                                            "type": "string",
                                            "example": "Rattus norvegicus"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "example": "9"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["nome_especie"],
                                "properties": {
                                    "nome_especie": {
                                        "type": "string",
                                        "example": "Rattus norvegicus"
                                    }
                                }
                            }
                        }
                    },
                    "description": "Espécie"
                }
            }
        },
        "/pedido/getEspecies.json": {
            "get": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar todas as Espécies",
                "operationId": "getEspecies",
                "description": "Rota responsável por buscar todas as Espécies",
                "parameters": [
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar as Espécies ativas e active=false para buscar as Espécies inativas",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "nome_especie": {
                                                "type": "string",
                                                "example": "Rattus norvegicus"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/pedido/addPedido.json": {
            "post": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Cadastro do Pedido",
                "operationId": "addPedido",
                "description": "Rota responsável pelo Cadastro do Pedido",
                "responses": {
                    "201": {
                        "description": "Pedido cadastrado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "vinculo_institucional_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "projeto_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "especie_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "linha_pesquisa_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "nivel_projeto_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "laboratorio_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "finalidade_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "pesquisador_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "linhagem_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "processo_sei": {
                                            "type": "string",
                                            "example": "78537.008780/2021-30"
                                        },
                                        "equipe_executora": {
                                            "type": "string",
                                            "example": "Fabrício"
                                        },
                                        "data_solicitacao": {
                                            "type": "string",
                                            "example": "2022-04-28"
                                        },
                                        "titulo": {
                                            "type": "string",
                                            "example": "Uso do Óxido de Grafeno em defeito ósseo monocortical em modelo experimental de tíbia osteopênica em ratas ovariectomizadas."
                                        },
                                        "especificar": {
                                            "type": "string",
                                            "example": "Uso de Óxido de Grafeno."
                                        },
                                        "exper": {
                                            "type": "string",
                                            "example": "sim",
                                            "description": "os valores aceitos no atributo ( exper ) são: 'sim' e 'não'"
                                        },
                                        "num_ceua": {
                                            "type": "string",
                                            "example": "1016/2021"
                                        },
                                        "vigencia_ceua": {
                                            "type": "string",
                                            "example": "2022-03-25"
                                        },
                                        "num_aprovado": {
                                            "type": "integer",
                                            "example": 25
                                        },
                                        "num_solicitado": {
                                            "type": "integer",
                                            "example": 25
                                        },
                                        "adendo_1": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "adendo_2": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "sexo": {
                                            "type": "string",
                                            "example": "macho",
                                            "description": "os valores aceitos no atributo ( sexo ) são: 'macho' e 'femea'"
                                        },
                                        "idade": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "peso": {
                                            "type": "string",
                                            "example": "200g"
                                        },
                                        "observacoes": {
                                            "type": "string",
                                            "example": "Prorrogação de validade do Certificado CEUA"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "projeto_id",
                                    "especie_id",
                                    "finalidade_id",
                                    "pesquisador_id",
                                    "linhagem_id",
                                    "processo_sei",
                                    "data_solicitacao",
                                    "titulo",
                                    "exper",
                                    "num_ceua",
                                    "vigencia_ceua",
                                    "num_aprovado",
                                    "num_solicitado",
                                    "sexo",
                                    "peso"
                                ],
                                "properties": {
                                    "vinculo_institucional_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "projeto_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "especie_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "linha_pesquisa_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "nivel_projeto_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "laboratorio_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "finalidade_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "pesquisador_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "linhagem_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "processo_sei": {
                                        "type": "string",
                                        "example": "78537.008780/2021-30"
                                    },
                                    "equipe_executora": {
                                        "type": "string",
                                        "example": "Fabrício"
                                    },
                                    "data_solicitacao": {
                                        "type": "string",
                                        "example": "2022-04-28"
                                    },
                                    "titulo": {
                                        "type": "string",
                                        "example": "Uso do Óxido de Grafeno em defeito ósseo monocortical em modelo experimental de tíbia osteopênica em ratas ovariectomizadas."
                                    },
                                    "especificar": {
                                        "type": "string",
                                        "example": "Uso de Óxido de Grafeno."
                                    },
                                    "exper": {
                                        "type": "string",
                                        "example": "sim",
                                        "description": "os valores aceitos no atributo ( exper ) são: 'sim' e 'não'"
                                    },
                                    "num_ceua": {
                                        "type": "string",
                                        "example": "1016/2021"
                                    },
                                    "vigencia_ceua": {
                                        "type": "string",
                                        "example": "2022-03-25"
                                    },
                                    "num_aprovado": {
                                        "type": "integer",
                                        "example": 25
                                    },
                                    "num_solicitado": {
                                        "type": "integer",
                                        "example": 25
                                    },
                                    "adendo_1": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "adendo_2": {
                                        "type": "integer",
                                        "example": 0
                                    },
                                    "sexo": {
                                        "type": "string",
                                        "example": "macho",
                                        "description": "os valores aceitos no atributo ( sexo ) são: 'macho' e 'femea'"
                                    },
                                    "idade": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "peso": {
                                        "type": "string",
                                        "example": "200g"
                                    },
                                    "observacoes": {
                                        "type": "string",
                                        "example": "Prorrogação de validade do Certificado CEUA"
                                    }
                                }
                            }
                        }
                    },
                    "description": "Pedido"
                }
            }
        },
        "/pedido/getPedidosTable.json": {
            "get": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar todos os Pedidos",
                "operationId": "getPedidosTable",
                "description": "Rota responsável por fazer a busca da Tabela 'Pedidos' disponível no Biotério",
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "description": "parâmetro responsável pela paginação, passar page=1 caso deseje acessar a primeira página da tabela.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "parâmetro responsável pelo limite de dados em cada página, passar limit=8 caso deseje receber até 8 dados por página.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 8
                        }
                    },
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar os Pedidos ativos e active=false para buscar os Pedidos inativos",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    },
                    {
                        "in": "query",
                        "name": "year",
                        "description": "parâmetro responsável pela busca de acordo com o ano desejado. OBS: A data utilizada para esse filtro: 'data_solicitacao'",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2022
                        }
                    },
                    {
                        "in": "query",
                        "name": "search",
                        "description": "parâmetro responsável pela busca no banco de dados, deixar parâmetro igual a vazio (search=' ') caso deseje receber todos os dados dessa tabela",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "pedidos": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "processo_sei": {
                                                        "type": "string",
                                                        "example": "78537.008780/2021-30"
                                                    },
                                                    "equipe_executora": {
                                                        "type": "string",
                                                        "example": "Fabrício"
                                                    },
                                                    "data_solicitacao": {
                                                        "type": "string",
                                                        "example": "2022-04-28"
                                                    },
                                                    "titulo": {
                                                        "type": "string",
                                                        "example": "Uso do Óxido de Grafeno em defeito ósseo monocortical em modelo experimental de tíbia osteopênica em ratas ovariectomizadas."
                                                    },
                                                    "especificar": {
                                                        "type": "string",
                                                        "example": "Uso de Óxido de Grafeno."
                                                    },
                                                    "exper": {
                                                        "type": "string",
                                                        "example": "sim",
                                                        "description": "os valores aceitos no atributo ( exper ) são: 'sim' e 'não'"
                                                    },
                                                    "num_ceua": {
                                                        "type": "string",
                                                        "example": "1016/2021"
                                                    },
                                                    "vigencia_ceua": {
                                                        "type": "string",
                                                        "example": "2022-03-25"
                                                    },
                                                    "num_aprovado": {
                                                        "type": "integer",
                                                        "example": 25
                                                    },
                                                    "num_solicitado": {
                                                        "type": "integer",
                                                        "example": 25
                                                    },
                                                    "adendo_1": {
                                                        "type": "integer",
                                                        "example": 0
                                                    },
                                                    "adendo_2": {
                                                        "type": "integer",
                                                        "example": 0
                                                    },
                                                    "sexo": {
                                                        "type": "string",
                                                        "example": "macho",
                                                        "description": "os valores aceitos no atributo ( sexo ) são: 'macho' e 'femea'"
                                                    },
                                                    "idade": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "peso": {
                                                        "type": "string",
                                                        "example": "200g"
                                                    },
                                                    "observacoes": {
                                                        "type": "string",
                                                        "example": "Prorrogação de validade do Certificado CEUA"
                                                    },
                                                    "saldoCEUA": {
                                                        "type": "string",
                                                        "example": 0
                                                    },
                                                    "active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "previsao": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "pedido_id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "retirada_data": {
                                                                    "type": "string",
                                                                    "example": "2022-06-30"
                                                                },
                                                                "totalRetirado": {
                                                                    "type": "integer",
                                                                    "example": 10
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "vinculo_institucional": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "nome_vinculo_institucional": {
                                                                "type": "string",
                                                                "example": "Biologia Vegetal"
                                                            }
                                                        }
                                                    },
                                                    "projeto": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "nome_projeto": {
                                                                "type": "string",
                                                                "example": "Extensão"
                                                            }
                                                        }
                                                    },
                                                    "especie": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 4
                                                            },
                                                            "nome_especie": {
                                                                "type": "string",
                                                                "example": "Mus musculus"
                                                            }
                                                        }
                                                    },
                                                    "linha_pesquisa": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 10
                                                            },
                                                            "nome_linha_pesquisa": {
                                                                "type": "string",
                                                                "example": "Bioquímica em estados patológicos"
                                                            }
                                                        }
                                                    },
                                                    "nivel_projeto": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "nome_nivel_projeto": {
                                                                "type": "string",
                                                                "example": "Mestrado"
                                                            }
                                                        }
                                                    },
                                                    "laboratorio": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 6
                                                            },
                                                            "nome_laboratorio": {
                                                                "type": "string",
                                                                "example": "Biotério Central - UFMS"
                                                            }
                                                        }
                                                    },
                                                    "finalidade": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 7
                                                            },
                                                            "nome_finalidade": {
                                                                "type": "string",
                                                                "example": "Teste com Extratos"
                                                            }
                                                        }
                                                    },
                                                    "pesquisador": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "nome": {
                                                                "type": "string",
                                                                "example": "Leonardo"
                                                            },
                                                            "instituicao": {
                                                                "type": "string",
                                                                "example": "UFMS"
                                                            },
                                                            "setor": {
                                                                "type": "string",
                                                                "example": "CPAR"
                                                            },
                                                            "pos": {
                                                                "type": "string",
                                                                "example": "Psicologia"
                                                            },
                                                            "ramal": {
                                                                "type": "string",
                                                                "example": "5001"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "example": "leonardo@gmail.com"
                                                            },
                                                            "orientador": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            }
                                                        }
                                                    },
                                                    "linhagem": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 12
                                                            },
                                                            "nome_linhagem": {
                                                                "type": "string",
                                                                "example": "HAIRLESS"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "count": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "current": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "perPage": {
                                                    "type": "integer",
                                                    "example": 8
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "requestedPage": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "pageCount": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "start": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "end": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "prevPage": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "nextPage": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "sort": {
                                                    "type": "boolean",
                                                    "example": null
                                                },
                                                "direction": {
                                                    "type": "boolean",
                                                    "example": null
                                                },
                                                "sortDefault": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "directionDefault": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "completeSort": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": ""
                                                    }
                                                },
                                                "limit": {
                                                    "type": "integer",
                                                    "example": 8
                                                },
                                                "scope": {
                                                    "type": "boolean",
                                                    "example": null
                                                },
                                                "finder": {
                                                    "type": "string",
                                                    "example": "all"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado"
                    },
                    "400": {
                        "description": "Bad Request, ocorreu algum problema com a requisição"
                    },
                    "500": {
                        "description": "Ocorreu um erro interno na api"
                    }
                }
            }
        },
        "/pedido/getPedidos.json": {
            "get": {
                "tags": ["Pedido"],
                "security": [{ "bearerAuth": [] }],
                "summary": "Buscar todos os Pedidos",
                "operationId": "getPedidos",
                "description": "Rota responsável por fazer a busca dos dados da tabela Pedido do banco de dados.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "description": "parâmetro responsável pela paginação, passar page=1 caso deseje acessar a primeira página da tabela.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "parâmetro responsável pelo limite de dados em cada página, passar limit=8 caso deseje receber até 8 dados por página.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 8
                        }
                    },
                    {
                        "in": "query",
                        "name": "active",
                        "description": "passar um active=true para buscar os Pedidos ativos e active=false para buscar os Pedidos inativos",
                        "required": true,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    },
                    {
                        "in": "query",
                        "name": "year",
                        "description": "parâmetro responsável pela busca de acordo com o ano desejado. OBS: A data utilizada para esse filtro: 'data_solicitacao'",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 2022
                        }
                    },
                    {
                        "in": "query",
                        "name": "search",
                        "description": "parâmetro responsável pela busca no banco de dados, deixar parâmetro igual a vazio (search=' ') caso deseje receber todos os dados dessa tabela",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A busca foi concluída com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "pedidos": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "processo_sei": {
                                                        "type": "string",
                                                        "example": "78537.008780/2021-30"
                                                    },
                                                    "equipe_executora": {
                                                        "type": "string",
                                                        "example": "Fabrício"
                                                    },
                                                    "data_solicitacao": {
                                                        "type": "string",
                                                        "example": "2022-04-28"
                                                    },
                                                    "titulo": {
                                                        "type": "string",
                                                        "example": "Uso do Óxido de Grafeno em defeito ósseo monocortical em modelo experimental de tíbia osteopênica em ratas ovariectomizadas."
                                                    },
                                                    "especificar": {
                                                        "type": "string",
[...]
